@media (max-width: 767px) {
  .display--320 {
    display: block;
  }
  .display--768, .display--1440, .display--768-1440 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .display--768 {
    display: block;
  }
  .display--320, .display--1440 {
    display: none;
  }
}

@media (min-width: 1440px) {
  .display--1440 {
    display: block;
  }
  .display--320, .display--768 {
    display: none;
  }
}

@media (min-width: 768px) {
  .display--768-1440 {
    display: block;
  }
}