@import "nullstyle";
@import "fonts";

body {
  background: #f2f2f2;
  font-family: "TT Lakes", "Arial", sans-serif;
}

.wrapper {
  position: relative;
  &__content {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
  }
}

.container {
  height: 100%;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    position: relative;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.1);
    overflow-x: hidden;
    &__content {
      max-width: 1120px;
      margin-left: 320px;
    }   
  }
}

@import "./header/header.scss";
@import "./footer/footer.scss";
@import "./button/button.scss";
@import "./divider/divider.scss";
@import "./page/page.scss";
@import "./page-header/page-header.scss";
@import "./page-nav/page-nav.scss";
@import "./about/about.scss";
@import "./subtitle/subtitle.scss";
@import "./swiper/swiper.scss";
@import "./brands/brands.scss";
@import "./devices/devices.scss";
@import "./more/more.scss";
@import "./prices/prices.scss";
@import "./contacts/contacts.scss";
@import "./langs/langs.scss";
@import "./aside/aside.scss";
@import "./menu/menu.scss";
@import "./logo/logo.scss";
@import "./form/form.scss";
@import "./feedback/feedback.scss";
@import "./call/call.scss";
@import "./noscroll/noscroll.scss";

@import "display";
