@import "nullstyle";
@import "fonts";

body {
    min-width: 320px;
    background-color: #f2f2f2;
    font-family: "TT Lakes", "Arial", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #d9fff5;
    &__body {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    &__divider {
        margin: 0 2px;
    }

    &__logo {
    }
    &__item {
        display: flex;
        align-items: center;
        margin: 0 8px;
    }
    &__button-text--display-1120 {
        display: none;
    }
    &__item--display-768 {
        display: none;
    }
}

.button {
    display: flex;
    align-items: center;
    background: none;

    &__text {
        margin-right: 8px;
        margin-left: 16px;
        font-size: 16px;
        font-weight: 500;
    }
    &__icon-burger,
    &__icon-burger::before,
    &__icon-burger::after {
        display: block;
        height: 2px;
        background-color: #fff;
        border-radius: 1px;
    }
    &__icon-burger {
        position: relative;
        top: 19px;
        left: 11px;
        width: 10px;
    }
    &__icon-burger::before {
        content: "";
        position: absolute;
        top: -7px;
        width: 18px;
    }
    &__icon-burger::after {
        content: "";
        position: absolute;
        top: 7px;
        width: 14px;
    }
    &__icon {
        background-color: #ff3e79;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    &__icon--icon--call {
        background-image: url("../img/button/icon/call.svg");
    }
    &__icon--icon--chat {
        background-image: url("../img/button/icon/chat.svg");
    }
    &__icon--icon--profile {
        background-image: url("../img/button/icon/profile.svg");
    }
    &__icon--icon--repair {
        background-image: url("../img/button/icon/repair.svg");
    }
    &__icon--icon--status {
        background-image: url("../img/button/icon/status.svg");
    }
}

.logo {
    &__image {
    }
}

.divider {
    height: 32px;
    width: 2px;
    background-color: #eaeaea;
}

.page {
    flex: 1 1 100%;
    background-color: #f8f8f8;
    padding-top: 24px;
    padding-bottom: 24px;
    &__header {
    }

    &__about {
    }
}

.page-header {
    margin: 0 16px;
    &__title {
        position: relative;
        font-size: 28px;
        font-weight: bold;
        line-height: 40px;
        color: #1b1c21;
    }
    &__title::before {
        position: absolute;
        top: 0;
        left: -16px;
        content: "";
        height: 100%;
        width: 4px;
        background-color: #41f6d7;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
.page-nav {
    position: relative;
    margin: 24px 0;

    &__list {
        display: flex;
        align-items: center;
        overflow-x: auto;
        scrollbar-width: none;
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__list::-webkit-scrollbar {
        height: 0;
    }

    &__item {
        border: 2px solid transparent;
    }
    &__item--active,
    &__item:hover {
        background-color: #fff;
        border-color: #b8ffec;
        border-radius: 6px;
    }
    &__link {
        display: block;
        background: none;
        padding: 8px 16px;
        white-space: nowrap;
        color: #7e7e82;
        font-size: 16px;
    }
}

.page-nav::after {
    content: "";
    position: absolute;
    top: 0;
    right: -16px;
    height: 100%;
    width: 24px;
    background: linear-gradient(to right, rgba(248, 248, 248, 0.1), rgba(248, 248, 248, 1));
}

.about {
    display: flex;
    flex-direction: column;
    &__body {
        margin: 0 16px;
    }

    &__text-box {
        max-height: 90px;
        overflow: hidden;
        font-size: 14px;
        line-height: 18px;
        color: #1b1c21;
    }

    &__text {
    }

    &__more {
        display: flex;
        align-items: center;
        background: none;
        margin: 16px 0;
        font-size: 16px;
        font-weight: 500;
    }

    &__more-icon {
        position: relative;
        display: block;
        top: 1px;
        height: 5px;
        width: 5px;
        margin-left: 8px;
        margin-right: 16px;
        border-bottom: 2px solid #41f6d7;
        border-right: 2px solid #41f6d7;
        border-bottom-right-radius: 1px;
        transform: rotate(45deg);
    }
    &__more-icon::before {
        content: "";
        position: relative;
        display: block;
        top: -4px;
        left: -4px;
        height: 5px;
        width: 5px;
        border-bottom: 2px solid #41f6d7;
        border-right: 2px solid #41f6d7;
        border-bottom-right-radius: 1px;
    }
    &__image {
        width: 100%;
        min-height: 176px;
    }
}

@media (min-width: 768px) {
    .header {
        &__body {
            padding: 0 16px;
        }
        &__item--display-768 {
            display: block;
        }
        &__divider {
            margin: 0 4px;
        }
    }
    .page {
        padding-top: 24px;
        padding-bottom: 24px;
        box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.1);
    }
    .page-header {
        margin: 0 24px;
        &__title::before {
            left: -24px;
        }
    }
    .page-nav {
        margin: 32px 0;

        &__list {
            margin-left: -24px;
            margin-right: -24px;
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .page-nav::after {
        right: -24px;
    }
    .about {
        flex-direction: row;
        &__body {
            margin: 0 24px;
        }
        &__text-box {
            max-height: 160px;
            line-height: 20px;
        }
        &__image {
            min-height: 208px;
            border-radius: 6px;
            margin: 0 24px;
        }
        &__more {
            margin: 10px 0;
        }
    }
}

@media (min-width: 1120px) {
    .header {
        position: relative;
        background-color: #f8f8f8;
        border-bottom: none;
        &__body {
            position: relative;
        }
        &__block {
            position: absolute;
            right: 24px;
        }
        &__button {
            z-index: 1;
            margin-top: 42px;
        }

        &__item--display-768,
        &__item--display-1120 {
            display: none;
        }

        &__button-text--display-1120 {
            display: inline;
        }
    }
    .page {
        padding-top: 42px;
        padding-bottom: 50px;
        max-width: 1120px;
        margin: 0 auto;
    }
    .page-header {
        margin: 0 32px;
        &__title::before {
            left: -32px;
        }
    }
    .page-nav {
        margin: 8px 0 0;

        &__list {
            flex-wrap: wrap;
            margin-left: -32px;
            margin-right: -32px;
            padding-left: 32px;
            padding-right: 32px;
        }
    }
    .page-nav::after {
        display: none;
    }
    .about {
        flex-direction: row;
        &__body {
            margin: 0 32px;
        }
        &__text-box {
            margin-top: 10px;
        }
        &__image {
            min-height: 307px;
            margin: 0 32px;
        }
    }
}
